*{
    margin: 0;
    padding: 0;

}

body{
    background: rgb(24, 160, 251);
   
}

header{

    display: flex;
    background:rgb(217, 235, 252);
    height:70px;
    width: 100%;
    align-items: center;
    justify-content:space-between;
    padding: 0 20px;
    box-sizing: border-box;
}
.link{
    width:300px;
    display: flex;
    gap: 20px;
}
h1{
    color:rgb(44, 6, 119);
    font-size: 1.5em;
    
}

img{
    border-radius: 100%;
}

.imag{
    flex-direction: row;
}

.titulo{
    color: black;
    font-size: 2em;
}

.rodape{
    display: flex;
    background:rgb(217, 235, 252);
    height:100%;
    width: 100%;
    max-width: 3000px;
    
}

ol,ul{
    margin-left:100px;
}
.texto-imagem{
    display: flex;
    justify-content:space-around;
    height:100%;
    align-items: center ;
    
}

.mid{
    height: 100%;
    width:100%;
    margin:0 auto;
    padding: 40px 0;
    background:rgb(217, 226, 235);

}

.texto p{
    width:500px;
}
.cabecalho{
    display: flex;
    background:rgb(217, 235, 252);
    height: 100px;;
    width: 100%;
    max-width: 3000px;
    
}
.nome{
    justify-content: flex-start;
}

.contato{
    justify-content: flex-end;
}
.Text{
    flex-direction: row-reverse;
}
.painel{
    display: flex;
    justify-content: center;
    padding: 40px 0;
}
.parte1{
    display: flex;
}

.fotos{
    flex-direction: row;
    flex-direction: column;
}

.text{
    flex-direction: row;
}
.parte1{
    display: flex;
    flex-direction: column;
}
.hobby{

    flex-direction: row;
    flex-direction: column;
}
.text{
    flex-direction: row;
    flex-direction: row-reverse;
    
}
.footer{
    display: flex;
    background:rgb(217, 235, 252);
    height:70px;
    width: 100%;
    align-items: center;
    justify-content:space-between;
    padding: 0 20px;
    box-sizing: border-box;
}
.icone{
    display: flex;
    justify-content:space-between;
    width: 200px;
    
}